/* header */
header {
    padding: 44px 112px 48px 112px;
    background-color: #191A19;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

.menu_list {
    display: flex;
    align-items: center;
    gap: 43px;
}

.menu_list_link {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.home {
    color: #FF7420;
    border-bottom: 3px solid #FF7420;
}

.select_button {
    display: flex;
    align-items: center;
    gap: 24px;
}

.city {
    width: 165px;
    height: 56px;
    padding-left: 45px;
    background-color: #191A19;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
}

.button {
    padding: 15px 30px;
    border-radius: 15px;
    background: #FF7420;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

/* heading */

.heading {
    position: relative;
    padding: 0px;
    font-size: 0;
}

.heading img {
    width: 100%;
}

.heading_content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 154px;
    left: 112px;
}

.title_up, .title_down {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.title_up {
    margin-bottom: 3px;
}

.title_down {
    margin-bottom: 24px;
}

.title_down span {
    color: #FF7420;
    ;
}

.heading_content p {
    width: 587px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 85px;
}

.heading_buttons {
    display: flex;
    align-items: center;
    gap: 54px;
}

.services {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #FF7420;
    padding: 15px 30px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.heading_button_icon {
    width: 25px;
    height: 25px;
}

.project {
    padding: 15px 30px;
    border-radius: 15px;
    background: #FFF;
    color: #191A19;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

/* featured */

.featured {
    display: flex;
    flex-direction: column;
    gap: 49px;
    background-color: #FF7420;
    padding: 57px 111px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation h2 {
    color: #191A19;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.featured_menu_list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.featured_menu_list_link {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.works {
    color: #191A19;
    border-bottom: 3px solid #191A19;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_one img, .card_two img, .card_three img {
    width: 100%;
}

.card_one, .card_two, .card_three {
    position: relative;
}

.card_one_desc {
    position: absolute;
    bottom: 22px;
    left: 85px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.card_two_desc {
    position: absolute;
    bottom: 22px;
    left: 90px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.card_three_desc {
    position: absolute;
    bottom: 22px;
    left: 90px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: center;
}

.card_one_desc p, .card_two_desc p, .card_three_desc p {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.down_text {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}

.down_text h4 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.down_text img {
    background-color: #000;
    border-radius: 50%;
}

/* construction */

.construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #191A19;
    padding: 39px 113px 0px 113px;
}

.construction h4 {
    color: #FF7420;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 28px;
}

.construction_desc {
    width: 1067px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
}

.full_name {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 4px;
}

.position {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 102px;
}

.title {
    width: 1442px;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 121px;
}

.request_contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.request {
    width: 963px;
    display: flex;
    flex-direction: column;
    padding: 42px 53px 45px 53px;
    background-color: #FF7420;
    border-radius: 15px;
}

.request h3 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}

.request p {
    width: 895px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
}

.name_email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.name {
    width: 419px;
    height: 76px;
    padding: 23px 291px 23px 65px;
    border-radius: 15px;
    background-color: #FFF;
    color: rgba(25, 26, 25, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email {
    width: 419px;
    height: 76px;
    padding: 23px 291px 23px 65px;
    border-radius: 15px;
    background-color: #FFF;
    color: rgba(25, 26, 25, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.phone_service {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.phone {
    width: 419px;
    height: 76px;
    padding: 23px 265px 23px 65px;
    border-radius: 15px;
    background-color: #FFF;
    color: rgba(25, 26, 25, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.service {
    width: 419px;
    height: 76px;
    border-radius: 15px;
    background-color: #FFF;
    padding: 23px 26px 23px 65px;
}

.details textarea {
    margin-bottom: 24px;
    width: 100%;
    height: 148px;
    color: rgba(25, 26, 25, 0.50);
    background-color: #FFF;
    border-radius: 15px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 23px;
    padding-left: 64px;
}

.button_request {
    width: 100%;
    height: 76px;
    border-radius: 15px;
    background-color: #191A19;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact {
    width: 499px;
    display: flex;
    flex-direction: column;
    padding: 42px 58px 45px 58px;
    background-color: #FF7420;
    border-radius: 15px;
}

.contact h3 {
    width: 150px;
    height: 36px;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 38px;
}

.contact h4 {
    width: 355px;
    height: 30px;
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}

.contact p {
    width: 355px;
    height: 48px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 24px;
}

.question {
    width: 355px;
    height: 60px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 45px;
}

.button_contact {
    width: 100%;
    height: 76px;
    border-radius: 15px;
    background-color: #191A19;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    padding: 50px 113px 68px 119px;
    background-color: #191A19;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.subscribe {
    display: flex;
    align-items: center;
    gap: 20px;
}

.subscribe_title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.email_address {
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
}

.email_address h4 {
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.email_address {
    display: flex;
    align-items: center;
    gap: 65px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.info_about {
    display: flex;
    flex-direction: column;
}

.info_about_title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 14px;
}

.info_about_desc {
    width: 516px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info_office {
    display: flex;
    flex-direction: column;
}

.info_office_title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 14px;
}

.info_office_desc_one {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2px;
}

.info_office_desc_two {
    width: 227px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info_contact {
    display: flex;
    flex-direction: column;
}

.info_contact_title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 14px;
}

.info_contact_desc_one {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}

.info_contact_desc_two {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info_link {
    display: flex;
    flex-direction: column;
}

.info_link_title {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 14px;
}

.info_link_home {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}

.info_link_about {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}

.info_link_service {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
}

.info_link_project {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social {
    display: flex;
    align-items: center;
    gap: 14px;
}